# OS
.DS_Store
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/
*.swp
*.swo

# Temp
*.tmp
*.bak
*.orig

# Node (si un jour)
node_modules/
npm-debug.log*

# Build local
*.zip

# Source JPEGs remplacés par WebP
images/*.jpg
images/*.jpeg
